* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.7em;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}


/**************************************/
body, .fancybox-title {
    font: 17px/25px "Montserrat", Arial, sans-serif;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    background-color: #fff;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    color: #777;
}

.title_position_CENTERED {
    text-align: center;
}

.btn .btn-default {
    background-color: #dbbdb8;
    border-color: #dbbdb8;
    color: #ffffff;
}

.button {
    width: 50%;
    padding: 0;
    font-size: 16px;
    background-color: #dbbdb8;
    border-color: #dbbdb8;
    color: #ffffff;
}


.font_xs {
    font-size: 16px;
}

.pull-left {
    float: left !important;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

.btn {
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    border: 3px solid;
    letter-spacing: .8px;
    border-radius: 0;
    padding: 12px 21px 11px;
    overflow: hidden;
    transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
}

.wrapper_inner {
    padding-bottom: 50px;
    z-index: 3;
}

.wrapper_inner, .maxwidth-theme {
    padding: 0 30px;
    margin: 0 auto;
    background: #01060b;
    float: none;
}

.maxwidth-theme:before, .maxwidth-theme:after {
    content: "";
    display: block;
    clear: both;
}

div {
    display: block;
}

ul > li {
    margin: 8px 0 0 21px;
    list-style-type: none;
    position: relative;
}

.item .name {
    color: #fbffff;
}

.item .name:hover {
    color: #b8c6c2
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*************************/
a, .link, .button.transparent, .button.transparent:hover, .specials_slider_wrapp ul.tabs > li span,
.basket_wrapp .basket_block .link:hover + .wraps_icon_block + .text .title, .stores .stores_list .item a span,
.phones .order_wrap_btn, .footer_bottom .all_menu_block ul li a:hover, .footer_bottom .submenu_top .menu_item a:hover,
.avtorization-call.enter:hover span, .top-h-row .h-user-block a:hover, ul.menu .child li.menu_item a, #header .catalog_menu ul.menu > li.current > a, ul.menu .child .depth3 a, ul.menu .child li.menu_title a:hover,
#header ul.menu li .child.submenu .child_wrapp a:not(.title), .img_block_capcha .reload, .h_color_white .center_block .menu.full > li:hover > a, .m_color_white #header .wrapper_middle_menu .menu.bottom > li:hover > a, .m_color_white #header .wrapper_middle_menu .menu.bottom > li.hover > a, body #header ul.menu li .child.line .child_wrapp > a:hover,
.basket_sort ul.tabs li .wrap_li > span *, .basket_sort ul.tabs li .wrap_li > span, .left_block .internal_sections_list .child_wrapp .child li.cur > a, .left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item.cur,
.left_block .internal_sections_list .child_wrapp a:hover, .breadcrumbs a:hover span, .tabs-head li.current span,
.reviews-post-reply-buttons a:hover, h4.hover, .button.transparent.white:hover, .button.white_bg, .item .child_container .child_wrapp .menu_item.current a, .item .child_container .child_wrapp .menu_item:hover a {
    color: #d3ada6;
}



.left_block {
    width: 244px;
    float: left;
    position: relative;
    zoom: 1;
    z-index: 390;
    padding-top: 0;
}

.left_block .sticky-sidebar__inner > div:first-of-type {
    margin-top: 0;
}

.menu_top_block {
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}


.sticky-sidebar__inner {
    transform: translate(0, 0);
    will-change: position, transform;
    padding-bottom: 32px;
}

header .menu_top_block li .dropdown > li > a, .menu_top_block.catalog_block .dropdown > li.full > a, .left_menu > li > a {
    display: block;
    padding: 15px 30px 17px 15px;
    background: #fff;
    text-decoration: none;
    text-align: left;
    transition: padding 0.2s ease;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .popup-window {
    font-family: "Montserrat", Arial, sans-serif;
}
